.acs-useradd{
  padding: 2%;
}
.acs-useradd .input-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
.acs-useradd .note-sec-style{
  color: var(--brand-color);
  font: normal normal 600 20px/20px var(--font-family);
  font-size: clamp(10px, 4vw, 15px);
  line-height: clamp(13px, 4vw, 18px);
}
.note-sec-style-2{
  color: var(--brand-color);
  font: normal normal 600 20px/20px var(--font-family);
  font-size: clamp(10px, 4vw, 15px);
  line-height: clamp(13px, 4vw, 18px);
  margin-top: 5px;
}
.button {
  text-align: center;
}

/* .btn1 {
  margin-right: 10px;
  padding: 0px 25px;
  border-radius: 8px;
  background: #002a54;
  color: white;
  border: none;
}

.btn2 {
  margin-left: 10px;
  padding: 0px 20px;
  border-radius: 8px;
  background: #002a54;
  color: white;
  border: none;
} */

.btn1 {
  margin-right: 10px;
  color: var(--brand-color);
  font: normal normal 600 20px/20px var(--font-family);
  font-size: clamp(10px, 4vw, 15px);
  line-height: clamp(13px, 4vw, 18px);
  border: 1px solid var(--brand-color);
  border-radius: 0.3rem;
  min-height: 30px;
  width: fit-content;
}
.btn1.active {
  background-color: var(--brand-color);
  color: #fff;
}
.btn1:hover {
  background-color: var(--brand-color);
  color: #fff;
}
.btn1-sec {
  display: flex;
  justify-content: right;
  padding: 10px;
  flex-wrap: wrap;
  gap: 10px;
}

.btn2 {
  margin-left: 10px;
  color: var(--brand-color);
  font: normal normal 600 20px/20px var(--font-family);
  font-size: clamp(10px, 4vw, 15px);
  line-height: clamp(13px, 4vw, 18px);
  border: 1px solid var(--brand-color);
  border-radius: 0.3rem;
  min-height: 30px;
  width: fit-content;
}
.btn2.active {
  background-color: var(--brand-color);
  color: #fff;
}
.btn2:hover {
  background-color: var(--brand-color);
  color: #fff;
}
.btn2-sec {
  display: flex;
  justify-content: right;
  padding: 10px;
  flex-wrap: wrap;
  gap: 10px;
}
