# Ignore Node.js dependencies
/node_modules
**/node_modules

# Ignore build directories
/dist
**/dist
/build
**/build

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variable files
.env
.env.local
.env.*.local

# Ignore package lock files (optional, depending on your preference)
package-lock.json
yarn.lock

# Ignore coverage reports
coverage
**/coverage

# Ignore IDE specific files
.vscode
.idea

# Ignore temporary files
.DS_Store
Thumbs.db
*.swp

# Ignore any additional application-specific files or folders
app1/temp
app2/temp
