.attendance-container {
    padding: 20px;
    margin: 0 auto;
  }
  
  .student-list {
    margin-top: 20px;
  }
  
  .select-all-container {
    margin-bottom: 10px;
    text-align: center;
  }
.h1-head{
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
  
  .student-list h3 {
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .showStudent {
    margin-top: 10px;
    background-color: var(--primary-color);
    padding: 10px;
    border:none;
    color:white
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  