/* Container styling */
.container {
  position: relative;
 
}

/* Popup styling */
.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
 
  display: flex;
  justify-content: center;
  align-items: center;
  
  z-index: 1000;
  overflow-y: auto; /* Enable scrolling for the entire popup */
  
}

/* Popup content styling */
.popupContent {
  width: 100%;
  max-width: 1200px;
  max-height: 100%; /* Ensure the content doesn't exceed the viewport height */
  padding: 25px;
  border: 1px solid #ccc;
    background-color: var(--background-color);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  
  overflow-y: auto; /* Allow scrolling within the content */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

/* Title styling */
.popupContent h1 {
  margin-bottom: 15px;
  font-size: 1.6em;
  color: #222;
  text-align: center;
  font-weight: 600;
}

/* Student data section styling */
.studentData {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Form section styling */
.formSection {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form section heading styling */
.formSection h3 {
  margin-bottom: 10px;
  font-size: 1.4em;
  color: #333;
  font-weight: 500;
}

/* Student form width */
.studentForm {
  width: 100%;
}

/* Submit button styling */
.submitButton {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 15px;
  align-self: flex-end;
  transition: background-color 0.3s, transform 0.2s;
}

.submitButton:hover {
  background-color: #218838;
  transform: scale(1.02);
}

/* Close button styling */
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 16px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, transform 0.2s;
}

.closeButton:hover {
  background-color: #c82333;
  transform: scale(1.02);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .popupContent {
    max-width: 90%;
    padding: 20px;
    max-height: 85vh; /* Adjusted for smaller devices */
  }

  .formSection {
    padding: 15px;
  }

  .submitButton, .closeButton {
    padding: 8px 16px;
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .popupContent {
    max-width: 100%;
    padding: 15px;
    max-height: 80vh; /* Further adjustment for very small screens */
  }

  .submitButton, .closeButton {
    padding: 6px 12px;
    font-size: 0.8em;
  }
}
