* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.limiter {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f7f7f7;
}

.container-login100 {
  width: 100%;
  max-width: 400px;
  /* Standard size styling */
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.wrap-login100 {
  padding: 40px;
}

.tabs-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  background-color: #f1f1f1;
  /* Embedding with background */
  border-radius: 8px;
  /* Soft rounded corners */
}

.tab-button {
  flex: 1;
  padding: 12px 0;
  background: #f1f1f1;
  color: #333;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
}

.tab-button:first-child {
  border-radius: 8px 0 0 8px;
}

.tab-button:last-child {
  border-radius: 0 8px 8px 0;
}

.tab-button.active {
  background-color: #7579ff;
  /* Active tab styling */
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  /* Simple effect for active tab */
}

.tab-button:hover {
  background-color: #ccc;
}

.login100-form-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.login100-form-title {
  font-size: 22px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.wrap-input100 {
  position: relative;
  margin-bottom: 20px;
}

.input100 {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input100:focus {
  border-color: #7579ff;
}

.label100 {
  position: absolute;
  top: -10px;
  left: 15px;
  background-color: #fff;
  padding: 0 5px;
  font-size: 12px;
  color: #999;
}

.container-login100-form-btn {
  margin-top: 20px;
  text-align: center;
}

.login100-form-btn {
  background: #7579ff;
  border: none;
  padding: 12px 20px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login100-form-btn:hover {
  background: #5a55df;
}

.role-selection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.label-checkbox100 {
  color: #333;
  margin-right: 10px;
}

.text-center {
  text-align: center;
}

.txt1 {
  color: #7579ff;
  text-decoration: none;
}

.txt1:hover {
  text-decoration: underline;
}