.syllabusContainer {
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
  border-radius: 30px 0 0 0;
}

.heading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
  font-weight: bold;
}

select {
  padding: 8px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
}

button.findButton {
  padding: 8px 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.findButton:hover {
  background-color: #2980b9;
}

button.uploadButton {
  padding: 8px 16px;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tableRow{
  display: flex;
  justify-content: space-between;
}

button.uploadButton:hover {
  background-color: rgb(205, 122, 224);
}

table.syllabusTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table.syllabusTable th, table.syllabusTable td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

table.syllabusTable th {
  background-color: #f2f2f2;
}

button.downloadButton, button.uploadButton {
  margin-right: 10px;
  padding: 6px 12px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.downloadButton:hover, button.uploadButton:hover {
  background-color: #c0392b;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 100%;
}

.modalContent h2 {
  margin-bottom: 20px;
}

.modalContent label {
  display: block;
  margin-bottom: 8px;
}

.modalContent select, .modalContent input[type="file"] {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button.submitButton {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button.submitButton:hover {
  background-color: var(--primary-color);
}

button.closeButton {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

button.closeButton:hover {
  background-color: var(--primary-color);
}

.deleteButton{
  border: none;
  background: none;
  margin-right: 40px;
}
.deleteButton:hover{
  color:#c0392b
}
